gitlab:
  build: '.'
  restart: always
  hostname: 'dockerhost'
  ports:
    - "443:443"
    - "80:80"
  links:
    - postgres
  environment:
    - AWS_ACCESS_KEY_ID=<AWS_ACCESS_KEY_ID>
    - AWS_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
    - AWS_DEFAULT_REGION=<AWS_DEFAULT_REGION>

postgres:
  image: postgres:9.4.8
  environment:
    - POSTGRES_USER=gitlab
    - POSTGRES_DB=gitlabhq_production
